project {
    groupId "com.gitlab.mbarberot"
    name "kriollo"
    version "2024.2.0"
    mainClass "KriolloKt"
    dependencies {
        - {
            groupId "info.picocli"
            artifactId "picocli"
            version "4.7.6"
        }
        - {
            groupId "com.github.kdl-org"
            artifactId "kdl4j"
            version "0.3.0"
        }
    }
}

java {
    enabled true
}

kotlin {
    enabled true
}

nix {
    enabled true
}

jetbrains {
    enabled true
}

git {
    enabled true
}

scripts {
    enabled true
    build {
        enabled true
        customSteps {
            - {
                name "Copy jar into codegen dir"
                command "cp target/kriollo.jar codegen/"
            }
        }
    }
    tests {
        enabled true
    }
}

maven {
    enabled true
    repositories {
        jitpack true
    }
}

tests {
    enabled true
    junit {
        enabled true
    }
}

cli {
    enabled true
    script {
        enabled true
        fileName "kriollo"
        targetDirectory "codegen"
    }
}

templating {
    jte {
        enabled true
        contentType "Plain"
    }
}

libs {
    jackson {
        core {
            - "databind"
        }
    }
}

components {
    kriollo {
        - {
            path "generator/nix"
            name "nix"
            tag "core"
            activationKey "nix.enabled"
            generators {
                - {
                    name "DefaultNixFileGenerator"
                }
            }
            provideExtensions {
                - {
                    name "DefaultNixFileExtension"
                    provideType "DefaultNixPartial"
                }
            }
        }
        - {
            path "generator/scripts/build"
            name "BuildScript"
            tag "core"
            activationKey "scripts.build.enabled"
            generators {
                - {
                    name "BuildScriptGenerator"
                }
            }
        }
        - {
            path "generator/scripts"
            name "Scripts"
            tag "core"
            activationKey "scripts.enabled"
            generators {
                - {
                    name "ScriptsDirectoryGenerator"
                }
            }
        }
        - {
            path "generator/scripts/test"
            name "TestScript"
            tag "core"
            activationKey "scripts.tests.enabled"
            generators {
                - {
                    name "TestScriptGenerator"
                }
            }
        }
        - {
            path "generator/maven"
            name "Maven"
            tag "core"
            activationKey "maven.enabled"
            generators {
                - {
                    name "MavenPomGenerator"
                }
            }
            extensions {
                - {
                    name "MavenGitIgnoreExtension"
                }
                - {
                    name "MavenDefaultNixExtension"
                }
            }
            provideExtensions {
                - {
                    name "MavenPropertiesExtension"
                    provideType "Pair<String,String>"
                }
                - {
                    name "MavenPluginExtension"
                    provideType "String"
                }
                - {
                    name "MavenBomExtension"
                    provideType "com.gitlab.mbarberot.kriollo.generator.java.JavaArtifact"
                }
                - {
                    name "MavenArtifactExtension"
                    provideType "com.gitlab.mbarberot.kriollo.generator.java.JavaArtifact"
                }
            }

        }
        - {
            path "generator/git"
            name "Git"
            tag "core"
            activationKey "git.enabled"
            generators {
                - {
                    name "GitIgnoreFileGenerator"
                }
            }
            provideExtensions {
                - {
                    name "GitIgnoreExtension"
                    provideType "GitIgnoreRules"
                }
            }

        }
        - {
            path "generator/jetbrains"
            name "Jetbrains"
            tag "core"
            activationKey "jetbrains.enabled"
            extensions {
                - {
                    name "JetbrainsGitIgnoreExtension"
                }
            }

        }
        - {
            path "generator/cli"
            name "cli"
            tag "core"
            activationKey "cli.enabled"
            extensions {
                - {
                    name "CliMavenPluginExtension"
                }
            }

        }
        - {
            path "generator/cli/script"
            name "MainScript"
            tag "core"
            activationKey "cli.script.enabled"
            generators {
                - {
                    name "MainScriptDirectoryGenerator"
                }
                - {
                    name "MainScriptFileGenerator"
                }
            }

        }
        - {
            path "generator/java"
            name "Java"
            tag "core"
            activationKey "java.enabled"
            extensions {
                - {
                    name "JavaGitIgnoreExtension"
                }
                - {
                    name "JavaNixDefaultExtension"
                }
            }
            provideExtensions {
                - {
                    name "JavaDependencyExtension"
                    provideType "JavaArtifact"
                }
            }

        }
        - {
            path "generator/kotlin"
            name "Kotlin"
            tag "core"
            activationKey "kotlin.enabled"
            generators {
                - {
                    name "KotlinSourceDirectoryGenerator"
                }
                - {
                    name "KotlinTestDirectoryGenerator"
                }
            }
            extensions {
                - {
                    name "KotlinJavaDependenciesExtension"
                }
                - {
                    name "KotlinMavenPluginExtension"
                }
                - {
                    name "KotlinMavenPropertiesExtension"
                }
                - {
                    name "KotlinDefaultNixExtension"
                }
            }

        }
        - {
            path "generator/templating/jte"
            name "Jte"
            tag "core"
            activationKey "templating.jte.enabled"
            generators {
                - {
                    name "JteDirectoryGenerator"
                }
                - {
                    name "JteRootFileGenerator"
                }
            }
            extensions {
                - {
                    name "JteJavaDependenciesExtension"
                }
                - {
                    name "JteMavenPluginExtension"
                }
            }

        }
        - {
            path "generator/project"
            name "Project"
            tag "core"
            activationKey "-"
            generators {
                - {
                    name "ProjectVersionGenerator"
                }
            }
            extensions {
                - {
                    name "ProjectJavaDependenciesExtension"
                }
                - {
                    name "ProjectMavenPropertiesExtension"
                }
                - {
                    name "ProjectMavenArtifactExtension"
                }
            }

        }
        - {
            path "generator/tests"
            name "tests"
            tag "core"
            activationKey "tests.enabled"
            extensions {
                - {
                    name "SurefireMavenPluginExtension"
                }
            }

        }
        - {
            path "generator/tests/junit"
            name "junit"
            tag "core"
            activationKey "tests.junit.enabled"
            extensions {
                - {
                    name "JUnitJavaDependenciesExtension"
                }
                - {
                    name "JUnitMavenBomExtension"
                }
            }

        }
        - {
            path "generator/libs"
            name "Libraries"
            tag "core"
            activationKey "-"
            extensions {
                - {
                    name "JacksonJavaDependenciesExtension"
                }
            }

        }
        - {
            path "generator/components/kriollo"
            name "Kriollo"
            tag "kriollo"
            activationKey "components.kriollo.isNotEmpty()"
            generators {
                - {
                    name "KriolloModulesGenerator"
                }

                - {
                    name "KriolloAggregatorsGenerator"
                }

                - {
                    name "KriolloExtensionsGenerator"
                }
                - {
                    name "KriolloBaseGeneratorGenerator"
                }
            }
        }
    }
}